<!--
  Base structure for modal sourced form:
  https://www.remotestack.io/angular-bootstrap-modal-popup-tutorial-example/

  Second modal added to update the content of a catch already added
-->
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<div>
<div class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Species</th>
      <th scope="col">Weight (lb)</th>
      <th scope="col">Length (in)</th>
      <th scope="col">Location</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let catch of catches; let i = index" id="{{catch._id}}">
      <td>{{i + 1}}</td>
      <td>{{catch.species}}</td>
      <td>{{catch.weight}}</td>
      <td>{{catch.length}}</td>
      <td>{{catch.location}}</td>
      <td>
        <button class="btn btn-primary btn-sm mx-auto" (click)="getCatchData(this.uid, this.tripId,catch._id);triggerModal(updateModalData, 'edit-catch-modal')">Edit</button>
        <button class="btn btn-success btn-sm mx-auto" (click)="setCoord()">Get Location</button>
        <button class="btn btn-danger btn-sm mx-auto" (click)="deleteCatch(catch._uid, catch._tripId, catch._id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</div>
  <button class="btn btn-primary" (click)="triggerModal(addModalData, 'add-catch-modal')">Add Catch</button>

  <!--
  <ng-container #addModalData>
    <app-add-catch></app-add-catch>
  </ng-container>

  <ng-container #updateModalData>
    <app-edit-catch></app-edit-catch>

  </ng-container>
-->
</div>


<ng-template #addModalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-catch-modal">Add Catch</h4>
    <button class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="container">
    <form (ngSubmit)="insertCatch();" #formDirective="ngForm" [formGroup]="form">
      <div class="form-group">
        <label for="species">Species</label>
        <input type="text" formControlName="species" [ngClass]="{'is-invalid':submitted && f.species.errors}" class="form-control" placeholder="Enter Species. . .">
  
        <div *ngIf="submitted && f.species.errors" class="invalid-feedback">
          <div *ngIf="f.species.errors.required">Species is required</div>
        </div>
        
      </div>
  
      <div class="form-group">
        <label for="weight">Weight (lb)</label>
        <input type="number" formControlName="weight" [ngClass]="{'is-invalid':submitted && f.weight.errors}" class="form-control" placeholder="Enter Weight (lb). . .">
  
        <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
          <div *ngIf="f.weight.errors.required">Weight is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="length">Length (in)</label>
        <input type="number" formControlName="length" [ngClass]="{'is-invalid':submitted && f.length.errors}" class="form-control" placeholder="Enter Length (in). . .">
  
        <div *ngIf="submitted && f.length.errors" class="invalid-feedback">
          <div *ngIf="f.length.errors.required">Length is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" formControlName="location" [ngClass]="{'is-invalid':submitted && f.location.errors}" class="form-control" placeholder="Enter Location. . .">
  
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
          <div *ngIf="f.location.errors.required">Location is required</div>
        </div>
      </div>
  
      <div class="modal-footer form-group">
        <button class="btn btn-success mt-4" (click)="(!f.species.errors && !f.length.errors && !f.weight.errors && !f.location.errors) ? modal.close('Save click') : ''">Submit</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #updateModalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-catch-modal">Edit Catch</h4>
    <button class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="container">
    <form (ngSubmit)="updateCatchData(catch._id);" #formDirective="ngForm" [formGroup]="updateCatchForm">
      <div class="form-group">
        <label for="species">Species</label>
        <input type="text" formControlName="species" [ngClass]="{'is-invalid':submitted2 && f1.species.errors}" class="form-control" placeholder="Enter Species. . .">
  
        <div *ngIf="submitted2 && f1.species.errors" class="invalid-feedback">
          <div *ngIf="f1.species.errors.required">Species is required</div>
        </div>
        
      </div>
  
      <div class="form-group">
        <label for="weight">Weight (lb)</label>
        <input type="number" formControlName="weight" [ngClass]="{'is-invalid':submitted2 && f1.weight.errors}" class="form-control" placeholder="Enter Weight (lb). . .">
  
        <div *ngIf="submitted2 && f1.weight.errors" class="invalid-feedback">
          <div *ngIf="f1.weight.errors.required">Weight is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="length">Length (in)</label>
        <input type="number" formControlName="length" [ngClass]="{'is-invalid':submitted2 && f1.length.errors}" class="form-control" placeholder="Enter Length (in). . .">
  
        <div *ngIf="submitted2 && f1.length.errors" class="invalid-feedback">
          <div *ngIf="f1.length.errors.required">Length is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" formControlName="location" [ngClass]="{'is-invalid':submitted2 && f1.location.errors}" class="form-control" placeholder="Enter Location. . .">
  
        <div *ngIf="submitted2 && f1.location.errors" class="invalid-feedback">
          <div *ngIf="f1.location.errors.required">Location is required</div>
        </div>
      </div>
  
      <div class="modal-footer form-group">
        <button class="btn btn-success mt-4" (click)="(!f1.species.errors && !f1.length.errors && !f1.weight.errors && !f1.location.errors) ? modal.close('Save click') : ''">Update</button>
      </div>
    </form>
  </div>
</ng-template>
<app-loader [loader]="isLoading"></app-loader>
<div #mapContainer id="map"></div>