<div class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip Name</th>
      <th scope="col">Location</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let trip of trips; let i = index">
      <td>{{i + 1}}</td>
      <td>{{trip.tripName}}</td>
      <td>{{trip.location}}</td>
      <td>{{trip.date}}</td>
      <td>
        <button class="btn btn-success btn-sm mx-auto" routerLink="trips/{{trip._id}}/catches">View</button>
        <button class="btn btn-primary btn-sm mx-auto" routerLink="edit/{{trip._id}}">Edit</button>
        <button class="btn btn-danger btn-sm mx-auto" (click)="deleteTrip(trip._id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</div>